<base href="${CONTEXT_PATH}/" />
	<div class="pageHeader">
		<div class="searchBar">
    		<table class="searchContent">
    			<tr>
    				<td>
    					请输入：<input type="text" class="focus highlightText" size="40" name="tag" value="" alt="用户名、真实名称"/>
    				</td>
					
    				<td><div class="button"><div class="buttonContent"><button type="submit">查询</button></div></div></td>
    			</tr>
    		</table>
    	</div>
	</div>
</form>
<div class="pageContent" style="padding:0px">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" target="dialog"  width="580" height="430"  href="sys/userinfo/add"><span>新增</span></a></li>
			<li class="line">line</li>
			<li><a class="edit" href="sys/userinfo/edit?id={sid_obj}" width="580" height="430" target="dialog"><span>修改</span></a></li>
			<li class="line">line</li>
			<li><a class="delete" href="sys/userinfo/delete"  target="selectedTodo" rel="ids"  title="确认删除？"><span>删除</span></a></li>
			<li class="line">line</li>
			<li><a class="add" href="sys/userinfo/toUpdatePassword?id={sid_obj}" rel="userPassword_edit" width="500" height="300" target="dialog"><span>设置密码</span></a></li>
		</ul>
	</div>
	
	<table class="table" layoutH="112">
		<thead>
			<tr>
				<th width="50" align="left"><input type="checkbox" group="ids" class="checkboxCtrl"/>行号</th>
				<th width="80" align="left">用户名</th>
				<th width="80" align="left">真实姓名</th>
				<th width="80" align="center">帐号状态</th>
				<th width="90" align="left">手机号</th>
				<th width="140" align="left">Email</th>
				<th width="100" align="left">QQ</th>
				<th width="120" align="left">电话</th>
				<th width="80" align="center">系统内置</th>
			</tr>
		</thead>
		<tbody>
			<% for(userinfo in pager.list){ %>
				<tr target="sid_obj" rel="${userinfo.id}" ondblclick="migr.baseMoudleDblick(this)"> 
					<td align="left">
						<input name="ids" type="checkbox" value="${userinfo.id}"/>
						${userinfoLP.index}
					</td>
	            	<td align="left">${userinfo.username}</td>
	            	<td align="left">${userinfo.realname}</td>
	            	<td align="center">
	            		<% if(userinfo.inuse == 0){ %>
	            			正常
	            		<% }else{ %>
	            			已停用
	            		<% } %>
	            	</td>
	            	<td align="left">${userinfo.mobile}</td>
	            	<td align="left">${userinfo.email}</td>
	            	<td align="left">${userinfo.qq}</td>
	            	<td align="left">${userinfo.tel}</td>
	            	<td align="center">
	            		<% if(userinfo.isSystem == false){ %>
	            			否
	            		<% }else{ %>
	            			是
	            		<% } %>
	            	</td>
				</tr>
			<% } %>
		</tbody>
	</table>
	</div>

